<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") // including header.ejs with bs5 CDN %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          Google and Local Login System Project
        </h1>
        <p class="col-md-8 fs-4">
          Google and Local Login System includes EJS, MongoDB Atlas, Passport.js, Authentication,
          OAuth(Google Login Setup) and other examples.
        </p>
        <button class="btn btn-info btn-lg" type="button">
          Learn how it works.
        </button>
      </div>
    </div>
  </body>
</html>
